{% extends 'base.html' %}
{% block body %}
<header class="pt-5">
    <div class="container pt-4 pt-xl-5">
        <div class="row pt-5">
            <div class="col-md-8 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="display-4 fw-bold mb-5">&nbsp;<span class="underline">Not Found :(</span></h1>
                    <p class="fs-5 text-muted mb-5">Maaf halaman yang anda cari tidak ditemukan.</p>
                </div>
            </div>
            <div class="col-12 col-lg-10 mx-auto">
                <div class="text-center position-relative"></div>
            </div>
        </div>
    </div>
</header>
{% endblock %}